# Veja mais sobre arquivos ignorados: https://help.github.com/articles/ignoring-files/

# dependências
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testes
/coverage

# next.js
/.next/
/out/

# produção
/build

# diversos
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# arquivos de ambiente (pode optar por commitar se necessário)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# arquivos temporários
temp/

# gerenciadores de pacotes
yarn.lock
package-lock.json
bun.lock

# boilerplate
.github/
backend/
